/* HTML Selectors */
  body {padding:0;margin:0;font:normal 84% Arial,Helvetica,sans-serif;}
  img {border:0}
  a {color:#039;text-decoration:none;}
  a:hover {color:#000;text-decoration:underline;}

  #etMainContent {width: 749px;}
  #etMain {width:100%;text-align:center;background:url(../images/prospect/main_bg.gif) repeat-y;margin-top:0;padding-top:0;}
  #etContainer {width:984px;margin:0 auto;text-align:left;background:url(../images/prospect/ctnt_bg.jpg) repeat-y;background-color:#FFF;padding-left:7px;}
  #etHeader {height:67px; background:url(../images/prospect/topBG200.jpg) #666 0 0 repeat-x;}
  #ftGrad {position:absolute;left:-20px;top:0px;width:20px;height:41px;background:url(../images/prospect/footgrad.gif) 0 0;}
  #pNav ul.subNav li, #pNav ul.subNavgrnBorder li {background:url(../images/prospect/lnav_bg_sec.gif) 1% 40% no-repeat;}
  
/* Container CSS */
  * html #etContainer {width:976px;}
  #etHeadLeft {float:left;width:227px;text-align:left;}
  #etHeadRight {text-align:right;}
  #etLeftRail {float:left;width:207px;text-align:center;margin-top:.1em!important;margin-top:0;}
  #etRailContainer {width:190px;position:relative;margin:0 auto;text-align:center;padding-left:0!important;padding-left:.5em}
  #etContent {margin-left:207px;padding-left:20px;line-height:1em; font:normal 12px Arial,Helvetica,sans-serif;}
  #etContent,#etLeftRail {padding-top:.5em;}
  #etFooter {color:#000;}
  #etFooterLinks {position:relative;padding-top:1px;height:40px;background:#F2F2F2;margin-top:1em;margin-bottom:2em;}
  #etFooterLinks a {text-decoration:none;color:#666;font-size:11px; margin-right:19px;}
  #etFooterLinks a:hover {color:#000;text-decoration:underline;}
  #etLBContent {border:1px solid #D4D4D4;border-top:0;padding:.5em;background:#F2F2F2;font-size:.8em;}
  
/* Navigation CSS */
  a.nav {display:block;height:16px!important;height:14px;font-size:12px;font-weight:800;color:#666;border-left:5px solid #999;margin-bottom:1px!important;margin-bottom:-2px;padding-top:4px;padding-bottom:2px;font-family:Arial,Helvetica,sans-serif;}
  #pNav {margin:0 auto;padding-left:2px;}
  #pNav ul {list-style-type:none;margin:0;padding-left:0;text-align:left;}
  #pNav li a, #pNav li a.navSel,#pNav li a.navSelgrnBorder {position:relative;display:block;color:#666;padding-left:1em;font-family:Arial,Helvetica,sans-serif;}
  #pNav li a.navSel,#pNav li a.navSelgrnBorder,#pNav li a.navSelgrnBorder:hover {font-size:12px;font-weight:800;color:#000;border-left:5px solid #63C;margin-left:0;padding-left:1em;padding-top:4px!important;padding-top:1px;}
  #pNav li a.navSelgrnBorder {border-left:5px solid #9C0;}
  #pNav li a.navSel:hover,#pNav li a.navSelgrnBorder:hover {border-left:5px solid #000;color:#333;} 
  #pNav li a:hover {border-color:#000;text-decoration:none;color:#000;}
  #pNav li a .s1,#pNav li a .s2 {display:block;height:16px;border-top:1px solid #CCC;margin-top:-4px;padding-top:4px;margin-left:-.8em;padding-left:.5em;}
  #pNav li a .s2 {margin-top:-4px!important;margin-top:-6px;}
  #pNav li a.navSel div.whtLn {left:0!important;left:-11px;top:-1px!important;top:0px;}
  #pNav ul.subNav,#pNav ul.subNavgrnBorder {width:190px;list-style-type:none;white-space:normal;font-size:11px;padding-left:.5em;border-left:5px solid #63C;padding-top:1em;margin-top:-.75em!important;margin-top:-1em;padding-bottom:.5em;margin-bottom:1px;}
  #pNav ul.subNavgrnBorder {border-left:5px solid #9C0;}
  #pNav ul.subNav a,#pNav ul.subNavgrnBorder a {display:block;height:19px;color:#666;text-decoration:none;background:0;border-top:0;}
  #pNav ul.subNav a:hover,#pNav ul.subNavgrnBorder a:hover {color:#000;text-decoration:underline;background:0;}
  #pNav ul.subNav a.sel, #pNav ul.subNav a.sel:hover,#pNav ul.subNavgrnBorder a.sel, #pNav ul.subNavgrnBorder a.sel:hover {color:#000;font-weight:bold;text-decoration:none;}
  #navLn {position:relative;height:1px;}
  #navBrd {position:absolute;border-top:1px solid #CCC;height:1px;left:8px;top:-2px;width:180px;}
 
/* home visitor, rate tables */ 
  #contentBox {margin-top:1px !important; margin-top:4px; margin-left: 2px!important; margin-left: -8px;}
  .dotLine {background:url(../images/prospect/dotLine.gif) repeat-x; margin:0;padding:1px 0 0 0;}
  .greyFont {color:#666666; font-family: Arial, Helvetica, sans-serif; font-style: normal;}
  .headerBar {border-left:1px solid #d4d4d4;border-right:1px solid #d4d4d4;border-top:1px solid #d4d4d4;font-weight:bold;color:#666666;}
  #indices td {padding-left: 0}
  .lowerTable {margin: 10px 0 0 0; padding:0; width: 740px;}
  .lendingTableBorder, .rateTableBorder  {font: normal 11px Arial,Helvetica,sans-serif; margin:0; padding:0;}
  .marketNo {margin-right: 5px; margin-left: 5px; color:#666666; font-size:11px; font-family: Helvetica, Arial, sans-serif;}
  .pts {color:#666666;}
  #rtpWelcome {border:1px solid #d4d4d4; padding: 0; margin: 0; height: 228px; width: 548px;}
  .symWord {margin:0px 0 0 0; height: 30px !important; height: 20px; line-height: 15px !important; line-height: 10px; white-space: nowrap;}
  #symbol {margin:0px 0 2px 0; height: 15px;}
  .tdimg, .floatL {float:left;}
  .tdimg {margin:2px 5px 5px 5px;}
  .tHead {font:600 15px Arial, Helvetica,sans-serif; margin: 0 0 5px 5px; color: #444444;}
 /* Customer Service Siderail */
  #locator {position:absolute;left:2px!important;left:9px;width:187px;margin:0 auto;text-align:left;font-size:11px;;margin:0;padding:0;}
  #locBox {clear:both;}
  #locI,#locT {margin-bottom:-3px!important;margin-bottom:0;}
  .locHead {color:#7ca500; font:600 14px Arial, Helvetica,sans-serif; padding:10px 0;}
  .locIcon {float:left; width:40px;clear:left;}
  .locText {text-align: left; color: #7b7b7b;}
  #disclosures {display:none;}
  #etDisclosures {font-size:.9em;}

/* Classes */
  .footerBox {border:1px solid #CCC;padding:4px;background-color:#FFF;text-align:left;width:467px;color:#666;font-size:.9em;font-weight:bold;margin-bottom:1em;}
  .etGreyBox {border:1px solid #999;padding:10px;background-color:#EEE;}
  .timeStamp {font-size:10px;}
  .disclaimer{font-size:10px;color:#333;}
  .ifld {width:50px;font-weight:bold;font-size:1em;color:#2f4f4f;}
  .aRight {float:right;margin-left:1px;}
  .legal {font-size:.9em;color:#000;margin-top:1.5em;padding:1em;background:#F2F2F2;margin-bottom:2em;padding-left:.5em;}
  .clr {clear:both;height:1px;margin-top:-1px;overflow:hidden;font-size:1px;}
  .topNav {display:inline;margin-right:0;}
  .w100 {width:100%!important;width:99%;}
  .smSup {font-size:7px;}
  
 /* OAA */
  .f2w {color:#FFF;font-weight:bold;}
  .f2 {font-size:12px;}
  .miniTabBox {border:1px solid #666666;border-top:0px;padding:5px;margin-bottom:10px;}
  .rev {font-size:12px;color:#fff;background-color:#999;font-weight:bold;}
  .oaaUL {list-style-type:square;margin-left:20px;padding-left:0px;margin-top:0px;margin-bottom:0px;}
  .oaaUL li {padding-bottom:5px;}
  .pageTitle {padding-bottom:10px;font-size:18px;font-weight:bold;}
  #oaaDisc {line-height:1.3em;}
 
/* Common Style for Prospect */
  a.solutionTitle:link, a.solutionTitle:visited, a.solutionTitle:active {color: #003399; text-decoration: none;font-weight: bold; font-size:11px; text-transform: uppercase;}
  a.solutionTitle:hover {color: #000000; text-decoration: underline;font-weight: bold; font-size: 11px; text-transform: uppercase;}
  a.ratesLink:link, a.ratesLink:visited, a.ratesLink:active {color: #003399; text-decoration: none; font-size:11px;}
  a.ratesLink:hover {color: #000000; text-decoration: underline; font-size: 11px;}
  a.reg:link,  a.reg:visited, a.reg:active {font-size: 12px;}
  a.reg:hover {color: #000000; text-decoration: underline; font-size: 12px;}
  a, body, div, form, img, span, h1, h2 {margin: 0;padding:0;}
  .borderRight {border-right: 1px solid #d4d4d4;}
  .borderLeft {border-left: 1px solid #d4d4d4;}
  .borderTop {border-top: 1px solid #d4d4d4;}
  #etMainContent {margin-bottom: 8px;float:left;}
  .extraTxtPad {margin: 15px 0 0 5px;}
  .fltRight {float: right;}
  .fltLeft {float: left;}
  #headerLong {margin: 0 0 0 10px; padding:0; border-bottom: 1px solid #d4d4d4;}
  #headerShort {margin: 0 0 0 10px; padding:0;}
  hr {width: 100%; color: #d4d4d4;}
  .hd {display:none;}
  .i {font-style: italic}
  .prosHeader {margin: 2px 0 0 10px; font: 600 14px Avenir, Arial, Helvetica, sans-serif; word-spacing:-1px;}
  .prosSubHeader {margin: 0 0 15px 10px; font: normal 1.57em  Avenir, Arial, Helvetica, sans-serif; color: #7ca500;}
  .prosHeaderLong {margin: 2px 0 0 10px; font: 600 14px Avenir, Arial, Helvetica, sans-serif; word-spacing:-1px;}
  .prosSubHeaderLong {padding-bottom: 19px; margin: 0 0 0 10px; font: normal 1.6em Avenir, Arial, Helvetica, sans-serif; color: #7ca500; border-bottom: 1px solid #d4d4d4; width:739px;}
  .rtp {font-size:15px; border: 1px solid black; text-align: center;}
  .replaceRTP {float: left; margin: -5px 0 0 0; padding: 0;}
  sup {font-size: 10px;}
  .sectionTitle {font:normal 19px  Arial, Helvetica, sans-serif; color:#666666; margin:0 ; padding: 0;}
  .whiteRate{color:#666; font-size:.8em;}

/*  Login page*/
  #etErrorBox {border:1px solid #CC0202;background-color:#FFC;padding:10px;text-align:left;margin-bottom:16px;}
  #etExpressBox {border:1px solid #000;padding:8px;}
  #etGreyBox {border:1px solid #999;padding:10px;background-color:#EEE;}
  #etNoticeBox {border:1px solid #F90;background-color:#FFC;padding:10px;text-align:left;margin-bottom:16px;}
  #etSuccessBox {border:1px solid #690;background-color:#FFC;padding:10px;text-align:left;margin-bottom:16px;}
     
/* Active Trading - Top Level */
  #introBox {background: url(../images/prospect/OurSolutions.gif) no-repeat 0 100%; float: left; width: 749px; margin: 0; padding: 0;}
  * html #introBox { margin: 0; padding: 0;}
  #introLeft {float: left; width: 328px;}
  #introMsg {margin: 0 10px; width: 300px; line-height: 17px;}
  #introRight {margin:0; float: left; width: 421px; height: 217px;}
  #solutions {float: left; margin: 0; padding:18px 0 0 0; width: 750px;}
  #services {float: left; margin: 0; padding:10px 0 18px 0; width: 750px;}  
  #solutions div, #services div  {float: left;}
  .leftPad {padding: 0; margin: 0;} 
  .mainBoxRight {margin: 0 0 0 4px; padding: 0; width: 220px;}
  .mainBox {font: normal 11px Avenir, Arial, Helvetica, sans-serif; width: 240px; margin:  0 3px 0 8px; padding:0;} 
  .mainBoxPad {padding:20px 0 0 0;}
  .mainBoxTxtPad span {display: block; width: 165px;}
  .mainBoxTxtPad {padding: 0 0 0 10px;}
  .mainBoxRtMarg {margin: 0 0 0 5px;}

  
/* Active Trading  - PET */    
  .footNote {font-size:.99em; color: #000; margin-top:1.5em;}
  .footNoteList {list-style-position: inside; color: #000; margin-left: -35px;}
  .rtpPET {height: 110px;}
  .spacer {width: 25px; float: left;}  
  .spacerSh {width: 19px; float: left;}
  .subheader {float: left; width:749px; padding: 10px 0 0 0; margin: 0;}
  .subheaderBtm {border-top: 1px solid #d4d4d4; float: left; width:749px; padding: 0 ; margin: 0;}
  #subheaderPromo {padding: 3px 0 0 0 ; margin:0;}
  * html .subheaderRight {width: 365px; float: left; padding-bottom: 0;}
  .subheaderRight {width: 365px; float: left; padding-bottom: 5px;}
  .subheaderLeft {width: 365px; float: left; margin: 0; padding:0;}
  .subheaderLeft p {line-height: 17px; padding: 7px 0 0 10px; margin: 0;}
  .subheaderLeft ul {list-style: none url(../images/prospect/bullet_green.gif);padding: 3px 0 10px 0; margin: 5px 0 5px 25px;}  
  .subheaderLeft li {padding: 5px 0; margin: 3px 0;}
  .subheaderLeft li div {padding: 0; margin: 0 0 -3px 0; line-height: 14px;}
  .noDot {padding: 3px 10px 3px 15px; margin: -5px 10px 5px 0px; font-size: 11px;}
  
/* Investing and Trading - Options */
  .mainBox form {margin: 0 ; padding: 0;}
  #formOptions {padding: 0; margin-top: 25px; width: 230px;}
  .quickActTop {padding-bottom: 15px;}
  .quickAct {padding: 14px 0 14px 0; clear: both;}
  .rtpOptions {width: 235px; height: 168px;}
  .selectOptions {width: 230px;}
  .notify {font-weight: 600; color: #7ca500;}  
  .padNo {margin-left: 0;}
  .padHalf {margin-left: 5px;}  
  .padFull {margin-left: 10px;}
  * html .padNo {margin-left: 0;}
  * html .padHalf {margin-left: 5px;}
  * html .padFull {margin-left: 10px;}
  .listSubText {margin: 0; padding: 0 0 12px 10px;}
  .medRate {font-weight: bold; font-size: 28px;color: #6633cc; line-height: 25px; padding-left: 5px;}
  .whiteRate {font-size: 11px; color: #ffffff; line-height: normal;}
  
/* Retirement */ 
  .extraFinding {margin-left: 10px; width: 220px;}
  * html .extraFinding {margin-left: 10px; width: 220px;}
  .extraFinding .extraBoxTop, .extraFinding .extraBoxOther {margin-top: 10px; width: 220px;}

/* Mortgages & Home Eqquity */   
  .extraChart {padding-left: 10px; width: 218px;}
  * html .extraChart {padding-left: 10px; width: 218px;}
  .extraBoxTop {margin-top: 13px; width: 218px;}
  .extraBoxOther {margin-top: 20px; width: 218px;} 
  .extraTxtPadShort {margin: 5px 0 0 0; line-height: 15px;}
  .extraBoxBtm  {margin: 15px 0 0 0;}

/* Banking and right widget */
  #rateTable b, #rateTable span {padding: 3px;}
  #rateTable tr td {font-size: 12px;}

/* Specifically for investingandtrading qandroptionschains */
  #etGreyBox {background-color: #eeeeee; padding: 5px; margin-left: 0; border: 1px solid #000000;}
  #etMainContentOption {margin: 0 0 0 -5px; padding: 0; float: left; width: 750px;}
  .floatLeft, pageTitle {float: left; margin: 0 0 0 -5px; padding: 0;}

/* tools andd research - three trading platform */
  .subheaderTotal {float: left; width:749px; padding: 0; margin:0;}
  .subheaderToTalLeft {float: left; width:749px; padding: 0 0 0 10px; margin:0;}
  .subheaderToTalLeft p {padding: 0 0 10px 0; margin: 0 0 5px 0;}
  .subheaderToTalLeft object {padding: 0; margin: 0 0 10px 0;}
  
/* Mini-Tab Navigation code */
  #minitabs { float:left; width:100%; line-height:normal; font-size:0.9em; }
  #minitabs ul { margin:0; padding:0 0 23px 8px; list-style-type:none; border-bottom: 1px solid #999999;}
  #minitabs li { float:left; margin:0 3px 0 0; padding:0; }
  #minitabs a { display:block; background:url(../images/minitab_left.gif) no-repeat left top; padding:0 0 0 3px; text-decoration: none; font-weight:bold; }
  #minitabs a span { float:none; background:url(../images/minitab_right.gif) no-repeat right top; display:block; padding:5px 10px 4px 6px; }
  #minitabs #current a { background-position:0% -70px; border-bottom: 1px solid white; color: #000000; text-decoration: none; font-weight:bold; }
  #minitabs #current a span { background-position:100% -70px; }
  #minitabs a:link { color: #000000; }
  #minitabs a:visited { color: #000000; }
  #minitabs a:hover { color: #000000; background-position: 0% -140px; }
  #minitabs a:hover span { background-position: 100% -140px; }
  #minitabs #current a:hover { color: #000000; }
  #minitabs .new { float:left; background:url(../images/minitab_new.gif) no-repeat left top; width:25px; margin-top:-5px; margin-left:8px; position:absolute; }
  #minitabs .beta { float:left; background:url(../images/minitab_beta.gif) no-repeat left top; width:25px; margin-top:-5px; margin-left:8px; position:absolute; }
